@model TImeManagement.ViewModels.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>

    <form method="post" id="changePasswordForm">
        <div class="form-group col-md-12">
            <label class="col-form-label">Старый пароль</label>
            <input asp-for="@Model.OldPassword" class="form-control">
        </div>
        <div class="form-group col-md-12">
            <label class="col-form-label">Новый пароль</label>
            <input  class="form-control" asp-for="@Model.NewPassword"/>
        </div>

        <div class="form-group col-md-12">
            <label class="col-form-label">Подтвердите новый пароль</label>
            <input asp-for="@Model.NewPasswordConfirm"  class="form-control">
        </div>
        <div class="modal-footer">
             <button type="submit" class="btn btn-primary" >Сменить пароль</button>
        </div>
</form>
</body>

