.p-10000000000 {
    padding: 1rem !important;
}

.mb-100000000 {
    margin-bottom: 1rem !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.nav{
    font-size: 25px;
}

.font-size {
    font-size: 35px;
}

.mr {
    margin-right: 15px;
}
