@model TImeManagement.Models.Bid

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            Тип
        </dt>
        <dd class = "col-sm-10">
            @Model.BidType.Name
        </dd>
        <dt class = "col-sm-2">
            Сообщение
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            Статус
        </dt>
        @if (Model.IsClosed == false)
        {
            <dd class="text-warning col-sm-10">
                В обработке
            </dd>
        }
        @if (Model.IsClosed == true)
        {
            <dd class="text-success col-sm-10">
                Обработана
            </dd>
        }
        <dt class = "col-sm-2">
            Время отправки
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendTime)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Index">Назад</a>
</div>
